{{page-title "Index"}}


<div class="flex justify-center text-xl font-semibold">
    <span class="text-red-600 font-bold mr-2">!</span>
    <p>click on the tasks in the side bar to explore them</p>
</div>
<Home::Right />
{{outlet}}