

<div ...attributes>
    <button {{on 'click' this.print}} class="border-2 border-gray-100 rounded-xl px-2 pb-0.5">
        {{yield}}
    </button>
    <p>
        <br>
        {{@mod}}
    </p>
</div>
