<div>
    <h1 class="text-lg my-10 px-3 font-semibold">DEATILED VIEW OF THE TASKS GOES HERES</h1>

    <div class="ml-10">
        <h1 class="text-base font-semibold">Features and Pages done</h1>
        <ul class="mb-10">
            <li>✔ auth page</li>
            <li>✔ home page</li>
            <li>✔ Tasks-details page</li>
            <li>✔ contact page</li>
            <li>✔ about page</li>
            <li>✔ 404 page</li>
        </ul>
    </div>
    {{yield}}
</div>