    <div class="h-full grid grid-flow-row grid-cols-2">
        {{!-- LEFT --}}
        <div class="h-full hidden sm:flex col-span-1 justify-center items-center bg-cover bg-no-repeat" style="background-image: linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)) ,url(/assets/auth_bg.jpg);">
            <div class="p-5 sm:p-20">
                <h1 class="text-base sm:text-5xl font-nunito font-semibold text-gray-200"> Welcome,</h1>
                <br>
                <br>
                <p class="text-sm md:text-lg font-nunito text-gray-200 font-light">
                    <i class="font-semibold font-nunito">Devploy</i> is a powerful tool for Continuous Integration and Continuous Deployment <br> 
                    <br>✓ Continuous deployment 
                    <br>✓ Automated testing
                    <br>✓ Configurable environment
                    <br>✓ Team Play
                    <br>✓ Task Comments
                    <br>✓ 24/7 support
                    <br>
                    <br>
                    <br>                
                    <p> <span class="font-nunito font-semibold">Sign up</span> to experience the super powers now !</p>
                    <br>
                </p>

                <div class="flex justify-center items-center my-3">
                    <i class="text-gray-400">Powered by</i>                    
                    <img class="ml-3 h-10" src="/assets/zoho_logo.png" alt="">
                </div>                
                
            </div>
            
        </div>
{{!-- --------------------------------------------------------------------------------------------------------------------- --}}

        {{!-- RIGHT --}}
        <div class="h-full bg-cliq-body col-span-2 sm:col-span-1">
            <div class="h-full w-full flex flex-col items-center justify-center">
                <Auth::Fields />                
            </div>
             
            
        </div>

    </div>
